@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  
}

.title {
    margin-top: 30px;
    text-align: center;
    background-color: bisque;
}

.enroll_std {
    display: flex;
    justify-content: left;
}

.std_form {
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    margin-top: 180px;
    margin-left: 40px;
    padding: 25px;
    width: 600px;
    /* background-color: aqua; */

}

input {
    margin-left: 20px;
    padding: 10px;
    width: 350px;
    height: 35px;
    border: 1px solid red;
    border-radius: 20px;
    /* font-size: 50px; */
}

label {
    background: none;
    font-size: 22px;
    font-weight: bold;
}

#email {
    margin-left: 33px;
}


#submit_btn {
    background-color: aqua;
    width: 130px;
    height: 40px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bolder;
    border: 1px solid black;
    cursor: pointer;
}

#submit_btn:hover {
  background-color: aliceblue;
}

#clear_btn{
  background-color: aqua;
    width: 130px;
    height: 40px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bolder;
    border: 1px solid black;
    cursor: pointer;
}

#clear_btn:hover {
  background-color: aliceblue;
}

.seperation-border {
    border-left: 6px;
    
    margin-top: 90px;
    height: 400px;
    position:absolute;
    left: 50%;
}


.enrolled_std {
    margin-top: 110px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-left: 100px; */
    /* display: flex; */
    width: 500px;
    background-color: rgb(231, 233, 227);
    
}

table {
    margin-top: 50px;
    margin-left: 40px;
    /* height: 66px; */
    text-align: center;
    /* padding: 5px; */
    width: 442px;
    background: rgb(255, 196, 86);
    /* color: #FFF; */
    /* display: flex; */
    
}

#display th, #display td {
    padding: 3px;
}

img {
  width: 160px;
  height: 160px;
}

#female{
  height: 20px;
  margin-left: 45px;
  width: 20px;
}

#fem {
  margin-left: 15px;
  font-size: 20px;
}
#male{
  height: 20px;
  margin-left: 120px;
  width: 20px;
}

#mal {
  margin-left: 15px;
  font-size: 20px;
}
